.containerHeader {
  display: flex;
  justify-content: space-around;


}

body  {
  margin:0;
  background: url("../images/avengersbackground.jpg");

}

.container {
  overflow: hidden;
  margin:0px 100px 0px 100px;

}

section {
  margin: -1%;
  padding: 20px;
}



section div {

  float: left;
  height: 15vw;
  margin: 1%;
  width: 10%;
  display: inline-block;
}

h1 {
  text-align: center;
  color: white;
}

.resetButton {
  width: auto;
  height: 40px;
  margin-top: 86px;
  border: 1px solid #c0c0c0;
  padding: 8px;
  background: black;
  margin-left: -70px;

}

.timeLeft {
  width: auto;
  height: 30px;
  margin-left: 49px;
  margin-bottom: -25px;
  padding: 8px;
  background: black;

}

img {
  width: 100%;
  display: block;
  overflow: auto;
  background-size:cover;
  border-radius: 5px;
  margin-top: 20px;


}

p {
  color: #E8E8E8;
}



.selected img  {

  display: none;

}

.matched {
  opacity: 0.5;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background:url("../images/avengersbackground.jpg");
  left: -3px;
  top: -10px;

}



.modal-content {
  background-color: black;
  margin: 10% 25%;
  width: 60%;
  padding: 10px;
  border:1px solid #c0c0c0;
  height: 70%;

}

.closeBtn {
  color:#c0c0c0 ;
  float: right;
  font-size: 50px;

}

.closeBtn:hover {
  background-color: #c0c0c0;
  color: black;
}

.timer {
  color: white;
  margin-top: 4px;
  font-size: 30px;
  font-weight: normal;
  background-color: black;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  text-transform: uppercase;

}

li {
  display: inline-block;
  font-size: 15px;
  list-style-type: none;
  text-transform: uppercase;
  padding: 1em;

}

.countstyle {
  margin-left: -30px;
  color: #C0C0C0;

}


li span {
  font-size: 50px;
  margin-left: -40px;
  display: block;
  color: #C0C0C0;

}

.logo {
  width: auto;
  height: 150px;
  margin-top: 22px;
  margin-left: -100px;

}

.instructionslogo {
  margin: auto;
  width: auto;
  height: 40px;
  margin-top: 0px;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

h4 {
  font-size: 20px;
}

h5 {
  color: #c0c0c0;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;

}

h6 {
  color: white;
  width: 420%;
  font-size: 27px;
  text-align: left;
  margin:auto;
  padding-left: 266px;
  margin-top: -42px;
  font-weight: lighter;
  letter-spacing: 1px;

}
.reset {
  margin-top: 50px;
}

.startagain {
  margin:auto;
  width: auto;
  height: 50px;
  padding: 6px;
  border: 1px solid #c0c0c0;
  
}

.front {
  background:black;
  border: 1px solid #B8B8B8;
  border-radius: 4px;

}

.gameover {
  width: auto;
  margin: auto;
  height: 81px;
  padding-top: 60px;

}
.frontmodal {
  background:black;
  border: 1px solid #B8B8B8;
  border-radius: 4px;
  float: right;
  margin-top: -30px;
  margin-right: 215px;

}



.back {
  background:black;
  border: 1px solid #B8B8B8;
  border-radius: 4px;
}

.instructions {
  width: auto;
  height: 73px;
  margin:auto;
  padding:45px;

}
